$color-white: #FFFFFF;
$color-black: #000000;
$color-pink: #EF8094;
$color-zircon: #F5F8FF;
$color-beige: #EEEEEE;
$color-silver: #C4C4C4;

$font-regular: 'DM Sans Regular';
$font-bold: 'DM Sans Medium';
$font-medium: 'DM Sans Bold';
$display-font-regular: 'DM Serif Display Regular'