.flex {
  display: flex;

  &_content-center {
    justify-content: center;
  }

  &_content-end {
    justify-content: flex-end;
  }

  &_space-evenly {
    justify-content: space-evenly;
  }

  &_space-between {
    justify-content: space-between;
  }

  &_align-center {
    align-items: center;
  }

  &_align-start {
    align-items: flex-start;
  }

  &_align-end {
    align-items: flex-end;
  }

  &_align-self-start {
    align-self: flex-start;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &_column {
    flex-direction: column;
  }

  .flex_basis-50 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .flex_basis-25 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .flex_basis-100 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .flex_column-reverse {
    flex-direction: column-reverse;
  }
}